#menu {
	float: left;
	width: 200px;
	border: 1px solid black;
	margin-top: 150px;
}


#un {
	position:absolute;
	border: 1px solid blue;
	width: 300px;
	height: 300px;
	margin-left: 300px;
	margin-top: 150px;
}

#deux {
	position: absolute;
	border: 1px solid blue;
	width: 300px;
	height: 300px;
	margin-top: 150px;
	margin-left: 650px;

}

#trois {
	position: absolute;
	border: 1px solid blue;
	width: 300px;
	height: 300px;
	margin-top: 150px;
	margin-left: 1000px;

}

#quatre {
	position: absolute;
	border: 1px solid blue;
	width: 300px;
	height: 300px;
	margin-top: 500px;
	margin-left: 450px;

}

#cinq {
	position: absolute;
	border: 1px solid blue;
	width: 300px;
	height: 300px;
	margin-top: 500px;
	margin-left: 850px;

}

#f1 {
	position: absolute;
	margin-left: 500px;
	margin-top: 150px;
}

#entete {
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
}

#pied { 
	position: absolute;
	top: 850px;
	width: 100%;
	text-align: center;
	clear: both;
}
