{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="container" id="entete">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-body">

						<legend>Appareillage d'un nouvel actionneur</legend>

						<div class="form-horizontal" role="form">
							<div id='attention'></div>
							<div class="form-group">
								<label class="col-sm-6 control-label">Choisissez la pièce</label>
								<div class="col-sm-5">
									<select id="nom" class="form-control">
								    {%for piece in pieces%}
								    	<option>{{piece}}</option>
								    {%endfor%}
								    </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-6 control-label">Choisissez le type d'actionneur</label>
								<div class="col-sm-5">
									<select id="type" class="form-control">
								    {%for type in types%}
								    	<option>{{type}}</option>
								    {%endfor%}
								    </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-6 control-label">Saisissez l'ID de l'actionneur</label>
								<div class="col-sm-5">
									<input id="captID" class="form-control" type="text" placeholder="">
								</div>
							</div>
							<ul class="pager">
								<li class="next"><button onclick="valider()" class="btn btn-default">Valider</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="text-center">
	<p>Copyright By H4213</p>
</div>

{% endblock body %}

{% block javascript %}
{% raw %}
<script src="/static/js/actionneur.js"></script>
{% endraw %}
{% raw %}
<script id="attente-template" type="text/x-handlebars-template">
	<div class="text-center">
		<h4>En appuyant sur <strong>Tester</strong> une trame va être envoyée au dispositif toutes les secondes.</h4>
		<h4>Veuillez mettre le dispositif en mode <strong>Learning</strong></h4>
		<ul class="pager">
			<li class="previous"><a href="/add/actionneur">&larr; Modifier</a></li>
			<li class="next"><a href="#" onclick="appareiller()">Tester &rarr;</a></li>
		</ul>
	</div>
</script>
{% endraw %}
{% raw %}
<script id="notif-template" type="text/x-handlebars-template">
<div class="alert alert-danger">
    {{this}}
</div>
</script>
{% endraw %}
{% raw %}
<script id="appa-template" type="text/x-handlebars-template">
<div class="text-center">
	<h4>Envoi de trames au dispositif</h4>
	<h4>Appuyez sur <strong>Confirmer</strong> si le dispositif est bien appareillé</h4>
	<ul class="pager">
		<li class="previous"><a href="/add/actionneur" onclick="annuler()">&larr; Annuler</a></li>
		<li class="next"><a href="#" onclick="confirmer()">Confirmer &rarr;</a></li>
	</ul>
</div>
</script>
{% endraw %}
{% endblock %}