<html>

<head>
    <title>Auberge du Monstre</title>
    <!-- IconMonstre -->
    <link rel="shortcut icon" href="static/img/logo.png">
    <!-- Bootstrap related CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    {% block style %}
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    {% endblock %}

</head>

<body>


    {% block body %}
    {% endblock %}


    <!-- JS files, placed at the end for faster page loading -->
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/raphael.min.js"></script>
    <script src="/static/js/main.js"></script>
    {% block javascript %}
    {% endblock %}

</body>

</html>
