{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-md-6" id="maison">
			</div>
			<div class="col-md-6" id="formu">
				<h3>Cliquez sur une pièce pour manipuler ses actionneurs</h3>
			</div>
		</div>
	</div>
</div>





<div class="text-center">
	<p>Copyright By H4213</p>
</div>

{% endblock body %}


{% block javascript %}
{% raw %}
<script src="static/js/controle.js"></script>
{% endraw %}
{% raw %}
<script id="li-template" type="text/x-handlebars-template">
	<div class="panel panel-default text-center">
		<div class="panel-heading">
			<h3 class="panel-title">Actionneurs disponibles</h3>
		</div>
        {{#each result}}
        <li class="list-group-item">
        <div class="row">
        <div class="col-lg-3 text-center">{{_id}}</div>
        <div class="col-lg-3">{{capteur_type}}</div>
		<div class="col-lg-3"><button onclick="valider(this)" value="{{_id}}" class="btn btn-default">Activer</button></div>
    	<div class="col-lg-3"><button onclick="valider(this)" value="{{_id}}" class="btn btn-default">Désactiver</button></div>
        </div>
        </li>
        {{/each}}
	</div>
</script>
{% endraw %}
{% endblock %}