{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<div class="col-12 col-sm-12 col-lg-12">
				<h2>Tableau de controle</h2>
				<div id="la">
				</div>
			</div>
			<div class="col-md-6" id="maisonCtrl">
			</div>
			<div class="col-md-6">
				<!-- presence d'un onsubmit="valider()" affichera un message d'erreur ou de confirmation d'envoi-->
				<form method="POST" action="/controle">
					<!-- presence d'un onclick="choixActionneur(piece)" affichera les actionneurs de la piece selectionnee-->
					<!--affichage des pieces grace a requete, et non en dur-->
					<select name="piece">
						<option value="pieceUne">Piece 1</option>
						<option value="pieceDeux">Piece 2</option>
						<option value="pieceTrois">Piece 3</option>
						<option value="pieceQuatre">Piece 4</option>
						<option value="pieceCinq">Piece 5</option>
					</select>


					<select name="actionneur">
						<option value="actionneurUn">Actionneur 1</option>
						<option value="actionneurDeux">Actionneur 2</option>
					</select>

					<br><br>

					<input type="radio" value="On" id="on" name="onOff"> On 
					<input type="radio" value="Off" id="off" name="onOff"> Off <br><br><br>
					<input type="submit" value="Envoyer" name="boutonEnv" onclick="valider()">

				</form>
			</div>
		</div>
	</div>
</div>





<div class="text-center">
	<p>Copyright By H4213</p>
</div>

{% endblock body %}


{% block javascript %}

<script type="text/javascript">
	function valider() {
		
		if(document.getElementById('on').checked==true){
			alert("L'" + document.forms[0].actionneur.value + " de la " + document.forms[0].piece.value + " est en position ON");
			
		}
		else {
			if(document.getElementById('off').checked==true){
				alert("L'" + document.forms[0].actionneur.value + " de la " + document.forms[0].piece.value + " est en position OFF");
			}
			else {
				alert("Selectionnez on ou off.")
			}
		}

	}
</script>
<script src="static/js/maisonCtrl.js"></script>
{% endblock %}