<div class="navbar navbar-default navbar-fixed-top">
  
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><img src="../static/img/logo.png" width="40px"/> Auberge du Monstre</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Accueil</a>
        </li>
        <li>
          <a href="/surveillance">Surveillance</a>
        </li>
        <li>
          <a href="/controle">Controle</a>
        </li>
        <li>
          <a href="/parametrage">Parametrages</a>
        </li>
        <ul class="nav navbar-nav navbar-right">
          <li>
          {% if user %}
              <a href="/logout"><span class="glyphicon glyphicon-remove"></span> Logout<span class="username">
                  {{user.identifiant}}</span></a>
          {% else %}
              <a href="/login"><span class="glyphicon glyphicon-user"></span> S'identifier</a>
          {% endif %}
          </li>
        </ul>
      </ul>
    </div>
</div>

</div>

  <div class="page-header" id="banner">
    <div class="hidden alert alert-warning alert-dismissable" id="notification">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <img src="../static/img/cutlery.png" width="40px"/>
      <strong>Attention!</strong> Un intrus se trouve dans la pièce <strong id="piece">?</strong>. Souhaitez-vous le manger?
      <button type="button" class="btn btn-default btn-sm" onclick="alertOui()">OUI</button>
      <button type="button" class="btn btn-default btn-sm" onclick="alertNon()">NON</button>
    </div>
  </div>
