{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="container">

	<div class="page-header" id="banner">
		<div class="row">
		  <div class="col-lg-6">
		    <h1>Bienvenue dans l'auberge du monstre !</h1>
		    <p class="lead">GHome project</p>
		    <img src="../static/img/auberge.png" alt="img_auberge" class="img-thumbnail">
		  </div>
		  <div class="col-lg-6">
		  </div>
		</div>
	</div>
</div>
<div id="pied">
	<p>Copyright By H4213</p>
</div>
{% endblock body %}

{% block javascript %}
{% endblock %}