{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}

{% include "header.html" %}
<div class="container">
{%if error%}
    <div class="alert alert-danger">
        Wrong email or password !
    </div>
{%endif%}

<form action="/login" method="POST" autocomplete="on">

        <div class="form-group">
            <label for="username-input">Username</label>
            <input type="text" class="form-control" name="username" value="{{username}}" />
        </div>

        <div class="form-group">
            <label for="password-input">Password</label>
            <input type="password" class="form-control" name="password" />
        </div>

        <input class="form-control" type="submit" value="Login" />
    </form>

</div>

{% endblock body %}


{% block javascript %}
{% endblock %}