{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}

{% include "header.html" %}
<div class="container">

    <form action="/parametrage" method="POST">

        <div class="row">
        <div class="col-lg-6">
        	<div class="checkbox">
        		<label>
            		<input type="checkbox" name="condition" value="porteOuv">
            		Porte ouverte
            	</label>
            </div>

            <div class="checkbox">
        		<label>
            		<input type="checkbox"  name="condition" value="porteFer" />
            		Porte fermée
            	</label>
            </div>

            <div class="checkbox">
        		<label>
            		<input type="checkbox"  name="condition" value="fenOuv" />
            		Fenêtre ouverte
            	</label>
            </div>

            <div class="checkbox">
        		<label>
            		<input type="checkbox"  name="condition" value="fenFer" />
            		Fenêtre fermée
            	</label>
            </div>
            
            <div class="checkbox">
        		<label>
            		<input type="checkbox"  name="condition" value="lumAll" />
            		Lumière allumée
            	</label>
            </div>

            <div class="checkbox">
        		<label>
            		<input type="checkbox"  name="condition" value="lumEt" />
            		Lumière éteinte
            	</label>
            </div>

            <div class="checkbox">
        		<label>
            		<input type="checkbox"  name="condition" value="climAll" />
            		Climatisation allumée
            	</label>
            </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="climEt" />
	            	Climatisation éteinte
	            </label>
	        </div>

	        <div class="checkbox">
            	<label>
            		<input type="checkbox"  name="condition" value="eauAll" />
            		Système anti-incendie allumé
            	</label>
            </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="eauEt" />
	            	Système anti-incendie éteint
	            </label>
	        </div>

	        <div class="checkbox">
	            <label>
		            <input type="checkbox"  name="condition" value="intAll" />
		            Interrupteur enclenché
		        </label>
		    </div>

		    <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="intEt" />
	            	Interrupteur désenclenché
	            </label>
	        </div>

	        <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="repNon" />
	            	L'utilisateur répond non
	            </label>
	        </div>

	        <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="repOui" />
	            	L'utilisateur répond oui
	            </label>
	        </div>

	        <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="mouv" />
	            	Détection mouvement
	            </label>
	        </div>

	        <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="vampire" />
	            	Présence Vampire
	            </label>
	        </div>

	        <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="meduse" />
	            	Présence Méduse
	            </label>
	        </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="intrus" />
	            	Présence intrus
	            </label>
	        </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="sirene" />
	            	Présence Sirène
	            </label>
	        </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="invite" />
	            	Présence invité
	            </label>
	        </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="dansCuisine" />
	            	Dans cuisine
	            </label>
	        </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="dansChambre" />
	            	Dans chambre
	            </label>
	        </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="dansSalon" />
	            	Dans salon
	            </label>
	        </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="dansCouloir" />
	            	Dans couloir
	            </label>
	        </div>

            <div class="checkbox">
	            <label>
	            	<input type="checkbox"  name="condition" value="dansBain" />
	            	Dans salle de bain
	            </label>
	        </div>
        </div>

        <div class="col-lg-6 form-group">
            <label>Allumer la climatisation</label>
            <input type="checkbox"  name="action" value="allumeClim" />
            <label>Eteindre la climatisation</label>
            <input type="checkbox"  name="action" value="eteintClim" />
            <label>Ouvrir les volets</label>
            <input type="checkbox"  name="action" value="ouvreVolet" />
            <label>Fermer les volets</label>
            <input type="checkbox"  name="action" value="fermeVolet" />
            <label>Allumer la lumière</label>
            <input type="checkbox"  name="action" value="allumeLum" />
            <label>Eteindre la lumière</label>
            <input type="checkbox"  name="action" value="eteintLum" />
            <label>Fermer une piece</label>
            <input type="checkbox"  name="action" value="fermePiece" />
            <label>Ouvrir une pièce</label>
            <input type="checkbox"  name="action" value="ouvrePiece" />
            <!--<label>Ouvrir une "porte"</label>
            <input type="checkbox"  name="action" value="ouvreVolet" />
            <label>Fermer une "porte"</label>
            <input type="checkbox"  name="action" value="fermeVolet" />-->
            <label>Activer le système anti-incendie</label>
            <input type="checkbox"  name="action" value="allumeEau" />
            <label>Désactiver le système anti-incendie</label>
            <input type="checkbox"  name="action" value="eteintEau" />
            <label>Cacher les miroirs</label>
            <input type="checkbox"  name="action" value="fermeRideau" />
            <label>Dévoiler les miroirs</label>
            <input type="checkbox"  name="action" value="ouvreRideau" />
            <label>Allumer une prise</label>
            <input type="checkbox"  name="action" value="allumePrise" />
            <label>Eteindre une prise</label>
            <input type="checkbox"  name="action" value="eteintPrise" />
            <label>Envoyer notification aux résidents</label>
            <input type="checkbox"  name="action" value="notifieRes" />
            <label>Poser question aux résidents</label>
            <input type="checkbox"  name="action" value="question" />
        </div>
    	</div>

        <input class="form-control" type="submit" value="Creer" />
    </form>

</div>


{% endblock body %}


{% block javascript %}
{% endblock %}