{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}

{% include "header.html" %}
<div class="container">

    <form action="/parametrage" method="POST">

        <div class="form-group">
            <label>Porte ouverte</label>
            <input type="checkbox" class="form-control" name="condition" value="porteOuv" />
            <label>Porte fermée</label>
            <input type="checkbox" class="form-control" name="condition" value="porteFer" />
            <label>Fenêtre ouverte</label>
            <input type="checkbox" class="form-control" name="condition" value="fenOuv" />
            <label>Fenêtre fermée</label>
            <input type="checkbox" class="form-control" name="condition" value="fenFer" />
            <label>Lumière allumée</label>
            <input type="checkbox" class="form-control" name="condition" value="lumAll" />
            <label>Lumière éteinte</label>
            <input type="checkbox" class="form-control" name="condition" value="lumEt" />
            <label>Climatisation allumée</label>
            <input type="checkbox" class="form-control" name="condition" value="climAll" />
            <label>Climatisation éteinte</label>
            <input type="checkbox" class="form-control" name="condition" value="climEt" />
            <label>Système anti-incendie allumé</label>
            <input type="checkbox" class="form-control" name="condition" value="eauAll" />
            <label>Système anti-incendie éteint</label>
            <input type="checkbox" class="form-control" name="condition" value="eauEt" />
            <label>Interrupteur enclenché</label>
            <input type="checkbox" class="form-control" name="condition" value="intAll" />
            <label>Interrupteur désenclenché</label>
            <input type="checkbox" class="form-control" name="condition" value="intEt" />
            <label>L'utilisateur répond non</label>
            <input type="checkbox" class="form-control" name="condition" value="repNon" />
            <label>l'utilisateur répond oui</label>
            <input type="checkbox" class="form-control" name="condition" value="repOui" />
            <label>Détection mouvement</label>
            <input type="checkbox" class="form-control" name="condition" value="mouv" />
            <label>Présence Vampire</label>
            <input type="checkbox" class="form-control" name="condition" value="vampire" />
            <label>Présence Méduse</label>
            <input type="checkbox" class="form-control" name="condition" value="meduse" />
            <label>Présence intrus</label>
            <input type="checkbox" class="form-control" name="condition" value="intrus" />
            <label>Présence Sirène</label>
            <input type="checkbox" class="form-control" name="condition" value="sirene" />
            <label>Présence invité</label>
            <input type="checkbox" class="form-control" name="condition" value="invite" />
            <label>Dans cuisine</label>
            <input type="checkbox" class="form-control" name="condition" value="dansCuisine" />
            <label>Dans chambre</label>
            <input type="checkbox" class="form-control" name="condition" value="dansChambre" />
            <label>Dans salon</label>
            <input type="checkbox" class="form-control" name="condition" value="dansSalon" />
            <label>Dans couloir</label>
            <input type="checkbox" class="form-control" name="condition" value="dansCouloir" />
            <label>Dans salle de bain</label>
            <input type="checkbox" class="form-control" name="condition" value="dansBain" />
        </div>

        <div class="form-group">
            <label>Allumer la climatisation</label>
            <input type="checkbox" class="form-control" name="action" value="allumeClim" />
            <label>Eteindre la climatisation</label>
            <input type="checkbox" class="form-control" name="action" value="eteintClim" />
            <label>Ouvrir les volets</label>
            <input type="checkbox" class="form-control" name="action" value="ouvreVolet" />
            <label>Fermer les volets</label>
            <input type="checkbox" class="form-control" name="action" value="fermeVolet" />
            <label>Allumer la lumière</label>
            <input type="checkbox" class="form-control" name="action" value="allumeLum" />
            <label>Eteindre la lumière</label>
            <input type="checkbox" class="form-control" name="action" value="eteintLum" />
            <label>Fermer une piece</label>
            <input type="checkbox" class="form-control" name="action" value="fermePiece" />
            <label>Ouvrir une pièce</label>
            <input type="checkbox" class="form-control" name="action" value="ouvrePiece" />
            <!--<label>Ouvrir une "porte"</label>
            <input type="checkbox" class="form-control" name="action" value="ouvreVolet" />
            <label>Fermer une "porte"</label>
            <input type="checkbox" class="form-control" name="action" value="fermeVolet" />-->
            <label>Activer le système anti-incendie</label>
            <input type="checkbox" class="form-control" name="action" value="allumeEau" />
            <label>Désactiver le système anti-incendie</label>
            <input type="checkbox" class="form-control" name="action" value="eteintEau" />
            <label>Cacher les miroirs</label>
            <input type="checkbox" class="form-control" name="action" value="fermeRideau" />
            <label>Dévoiler les miroirs</label>
            <input type="checkbox" class="form-control" name="action" value="ouvreRideau" />
            <label>Allumer une prise</label>
            <input type="checkbox" class="form-control" name="action" value="allumePrise" />
            <label>Eteindre une prise</label>
            <input type="checkbox" class="form-control" name="action" value="eteintPrise" />
            <label>Envoyer notification aux résidents</label>
            <input type="checkbox" class="form-control" name="action" value="notifieRes" />
            <label>Poser question aux résidents</label>
            <input type="checkbox" class="form-control" name="action" value="question" />
        </div>

        <input class="form-control" type="submit" value="Creer" />
    </form>

</div>


{% endblock body %}


{% block javascript %}
{% endblock %}