{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}

{% include "header.html" %}
<div class="container">
	<div class="col-md-12">
		<form method="POST" action="/parametrage">
			<div class="panel panel-default text-center">
				<div class="panel-heading">
					<h3 class="panel-title">Règles actives</h3>
				</div>
				<div id="listeRegles">

				</div>
			</div>


	        <div class="col-lg-6 text-center">
	        	<input type="submit" name="supprimer" value="Supprimer regles" class="btn btn-default"/>
	        </div>
		</form>
		<form method="POST" action="/ajoutRegle">
			<div class="col-lg-6 text-center">
		    	<input type="submit" name="ajouter" value="Ajouter regle" class="btn btn-default"/>
		    </div>
		</form>
	</div>
</div>

<div class="text-center">
	<p>Copyright By H4213</p>
</div>
{% endblock body %}


{% block javascript %}

{% raw %}
<script id="reg-template" type="text/x-handlebars-template">
	
		
	        
	        <li class="list-group-item">
		        <div class="row">
		        	<div class="checkbox">
		            	<label>
		            		<input class="col-lg-2" type="checkbox"  name="regle" value="{{id_regle}}" />
			        			<div class="col-lg-4 text-center">
			        			{{#each conditions}}
			        				/ {{nom}} / 
			        			{{/each}}
			        			</div>
			       				<div class="col-lg-4 text-center">
			       				{{#each actions}}
			       					/ {{description}} / 
			       				{{/each}}
			       				</div>
			       		</label>
			       	</div>
		        </div>
	        </li> 
	        
		
</script>
{% endraw %}


<script src="static/js/parametrage.js"></script>


{% endblock %}

