{% extends "base.html" %}

{% block style %}

{% endblock %}

{% block body %}

{% include "header.html" %}

<div class="container">
	<div class="page-header" id="banner">
		<div class="row">
			<h2></h2>
			<div class="col-md-6" id="maison">
			</div>
			<div class="col-md-6" id="description">
				<h3>Cliquez sur une pièce pour visualiser ses informations</h3>
				<ul class="media-list">
					<li class="media">
					    <a class="pull-left" href="#">
						    <img class="media-object" src="/static/img/temp.png" width="40px">
						</a>
						<div class="media-body">
							<h4 class="media-heading">Température</h4>
							24
						</div>
					</li>
					<li>
						<a class="pull-left" href="#">
					    <img class="media-object" src="/static/img/hum.png" width="20px">
					  </a>
					  <div class="media-body">
					    <h4 class="media-heading">Humidité</h4>
					    90
					  </div>
					</li>
				</ul>


			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div id="formulaire">

		</div>
	</div>

</div>

<div class="text-center">
	<p id="surv">Copyright By H4213</p>
</div>

{% endblock body %}


{% block javascript %}
<script src="/static/js/maison.js"></script>

<script type="text/javascript">
	function manger() {
		

	}
</script>
{% endblock %}
